<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
{#    <link rel="stylesheet" href="../../public/style/css.css">#}
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>


<div class="containers mx-auto px-7 relative" id="1">
    <ul class="absolute right-10 top-0 shadow-md">
        {% if session.name %}
            <p class="font-bold">Welcome {{ session.name }}</p> <br>
        {% endif %}

        <li class="block px-3 py-2 mb-4 font-bold text-sm text-white bg-gray-800 rounded-lg">
            <a href="/" class="hover:bg-gray-700">Home</a>
        </li>


        {% if not session.name %}
            <li class="block px-3 py-2 mb-4 font-bold text-sm text-white bg-gray-800 rounded-lg">
                <a href="/login" class="hover:bg-gray-700">Log In</a>
            </li>
        {% endif %}

        {% if not session.name %}
            <li class="block px-3 py-2 mb-4 font-bold text-sm text-white bg-gray-800 rounded-lg">
                <a href="/registration" class="hover:bg-gray-700">Register</a>
            </li>
        {% endif %}


        <li class="block px-3 py-2 mb-4 font-bold text-sm text-white bg-gray-800 rounded-lg">
            <a href="/logout" class="hover:bg-gray-700">Log Out</a>
        </li>
    </ul>
</div>

<div class="flex items-center justify-center">
    <img src="../../{{ session.avatar }}" alt="no avatar uploaded" class="h-20 rounded-full mr-4">
    <div>
        <h1 class="text-xl font-bold">
            Account id: {{ session.id }} <br> Name: {{ session.name }} <br> Login: {{ session.login }}<br>
            Email: {{ session.email }}
        </h1>
    </div>
</div>

        <div class="bg-white px-8 py-6 rounded-lg shadow-lg text-center">
            <h2 class="text-xl font-bold mb-4">Send Money to Wallet</h2>
            <form action="/profile" method="post">
                <label class="mb-4">
                    <input type="text" name="toMoneyBag" placeholder="Enter amount" class="px-4 py-2 rounded-md bg-grey-200">
                    <span class="font-bold">$ Total money in wallet: {{ items }}$. </span>
                </label>
                <button class="px-4 py-2 rounded-md bg-grey-500 text-white font-bold" type="submit">
                    Send to wallet
                </button>
            </form>
        </div>
    </div>
<br><br>

<div class="bg-white px-8 py-6 rounded-lg shadow-lg text-center">
    <h2 class="text-xl font-bold mb-4">Transaction History</h2>
    <table class="table-auto w-full">
        <thead>
        <tr>
            <th class="px-4 py-2">Coin Symbol</th>
            <th class="px-4 py-2">Coin Amount</th>
            <th class="px-4 py-2">Coin Price</th>
            <th class="px-4 py-2">Buy Date</th>
            <th class="px-4 py-2">Sell Date</th>
            <th class="px-4 py-2">Money in Wallet</th>
        </tr>
        </thead>
        <tbody>
        {% for user in userData %}
        <tr>

                <td class="border px-4 py-2">{{ user.getCoinSymbol }}</td>
                <td class="border px-4 py-2">{{ user.getCoinAmount }}</td>
                <td class="border px-4 py-2">{{ user.getCoinPrice }}</td>
                <td class="border px-4 py-2">{{ user.getBuyDate }}</td>
                <td class="border px-4 py-2">{{ user.getSellDate }}</td>
                <td class="border px-4 py-2">{{ user.getmoneybag }}</td>



    {% endfor %}




    {{ session.message }}
</div>

{# <div class="email"> #}
{#    <form action="/changeEmail" method="post"> #}
{#        <div><label>Current Email</label> #}
{#            <label> #}
{#                <input type="email" name="oldEmail" placeholder="Enter Current email"> #}
{#            </label></div> #}
{#        <div><label>New Email</label> #}
{#            <label> #}
{#                <input type="email" name="newEmail" placeholder="Enter New email"> #}
{#            </label></div> #}
{#        <div><label>Repeat New Email</label> #}
{#            <label> #}
{#                <input type="email" name="reEmail" placeholder="Enter Repeat New email"> #}
{#            </label></div> #}
{#       <button type="submit">Change</button> #}
{#    </form> #}
{# </div> #}
{# <div class="password"> #}
{#    <form action="/changePassword" method="post"> #}
{#        <div><label>CurrentPassword</label> #}
{#            <label> #}
{#                <input type="password" name="oldPassword" placeholder="Enter Current password"> #}
{#            </label></div> #}
{#        <div><label>New Password</label> #}
{#            <label> #}
{#                <input type="password" name="newPassword" placeholder="Enter New password"> #}
{#            </label></div> #}
{#        <div><label>Repeat New password</label> #}
{#            <label> #}
{#                <input type="password" name="reNewPassword" placeholder="Repeat New password"> #}
{#            </label></div> #}
{#      <button type="submit">Change</button> #}
{#    </form> #}
{# </div> #}
</body>
</html>
