<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>


<div class="containers mx-auto px-7 relative" id="1">
    <ul class="absolute right-10 top-0 shadow-md">
        {% if session.name %}
            <p class="font-bold">Welcome {{ session.name }}</p> <br>
        {% endif %}

        <li class="block px-3 py-2 mb-4 font-bold text-sm text-white bg-gray-800 rounded-lg">
            <a href="/" class="hover:bg-gray-700">Home</a>
        </li>


        {% if not session.name %}
            <li class="block px-3 py-2 mb-4 font-bold text-sm text-white bg-gray-800 rounded-lg">
                <a href="/login" class="hover:bg-gray-700">Log In</a>
            </li>
        {% endif %}

        {% if not session.name %}
            <li class="block px-3 py-2 mb-4 font-bold text-sm text-white bg-gray-800 rounded-lg">
                <a href="/registration" class="hover:bg-gray-700">Register</a>
            </li>
        {% endif %}


        <li class="block px-3 py-2 mb-4 font-bold text-sm text-white bg-gray-800 rounded-lg">
            <a href="/logout" class="hover:bg-gray-700">Log Out</a>
        </li>
    </ul>
</div>


<div class="flex items-center justify-center">
    <img src="../../{{ session.avatar }}" alt="no avatar uploaded" class="h-20 rounded-full mr-4 p-2 border-2 border-black" >
    <div>
        <h1 class="text-xl font-bold">
            Account id: {{ session.id }} <br> Name: {{ session.name }} <br> Login: {{ session.login }} <br>
            Email: {{ session.email }}
        </h1>
    </div>
</div>


<div class="bg-white px-8 py-6 rounded-lg shadow-lg text-center">
    <h2 class="text-xl font-bold mb-4">Send Money to Wallet</h2>
    <form action="/profile" method="post">
        <label class="mb-4">
            <input type="text" name="toMoneyBag" placeholder="Enter amount $" class="px-4 py-2 rounded-md bg-grey-200">
        </label>
        <button type="submit" class="px-4 py-2 rounded-md bg-grey-500 text-black font-bold">
            <button type="submit" >Send to Wallet</button>

        </button><br>
        <span class="font-bold"> Total money in wallet: {{ items }}$. </span>
    </form>



</div>




<br><br>

<div class="bg-white px-8 py-6 rounded-lg shadow-lg text-center">
    <h2 class="text-xl font-bold mb-4">Transaction History</h2>
    <table class="table-auto w-full">
        <thead>
        <tr>
            <th class="px-4 py-2">Coin Symbol</th>
            <th class="px-4 py-2">Coin Amount</th>
            <th class="px-4 py-2">Money in Wallet</th>
            <th class="px-4 py-2">Coin Price</th>
            <th class="px-4 py-2">Date</th>
        </tr>
        </thead>
        <tbody>
        {% for user in userData %}
            <tr>
                <td class="border px-4 py-2">{{ user.getCoinSymbol }}</td>
                <td class="border px-4 py-2 {% if user.getCoinAmount < 0 %}text-red-700{% else %}text-green-700{% endif %}">{{ user.getCoinAmount }}</td>
                <td class="border px-4 py-2 {% if user.getMoneyBag < 0 %}text-red-700{% else %}text-green-700{% endif %}">{{ user.getmoneybag }}</td>
                <td class="border px-4 py-2 ">{{ user.getCoinPrice }}</td>
                <td class="border px-4 py-2">{{ user.getDate }}</td>
            </tr>
        {% endfor %}


        {{ session.message }}

</body>
</html>




