<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../public/styles.css">
    <title>History</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">

<div>
    <h4 class="welcome">MyCoinMarketCap</h4>
</div>
    <div class="containers mx-auto px-7 relative" id="1">
        <ul class="absolute right-10 top shadow-md">

            <p class="font-bold">Welcome {{ session.name }}</p> <br>

            {% if session.name %}
                <p class="font-bold">Total money: {{ items|number_format(2) }}$</p> <br>
            {% endif %}

            <li class="block px-3 py-2 mb-4 font-bold text-sm text-white bg-gray-800 rounded-lg">
                <a href="/" class="hover:bg-gray-700">Home</a>
            </li>

            <li class="block px-3 py-2 mb-4 font-bold text-sm text-white bg-gray-800 rounded-lg">
                <a href="/profile" class="hover:bg-gray-700">Profile</a>
            </li>


            <li class="block px-3 py-2 mb-4 font-bold text-sm text-white bg-gray-800 rounded-lg">
                <a href="/logout" class="hover:bg-gray-700">Log Out</a>
            </li>
        </ul>
    </div>
</body>
<body>
<br><br>
<div class="justify-center items-center">
    <div class="bg-white px-8 py-6 rounded-lg shadow-lg text-center">
        <h2 class="text-xl font-bold mb-4">Transaction History</h2>
        <table class="table-auto mx-auto">
            <thead>
            <tr>
                <th class="px-4 py-2">Coin Symbol</th>
                <th class="px-4 py-2">Coin Amount</th>
                <th class="px-4 py-2">Money in Wallet</th>
                <th class="px-4 py-2">Coin Price</th>
                <th class="px-4 py-2">Date</th>
                <th class="px-4 py-2">Description</th>
            </tr>
            </thead>
            <tbody>
            {% for user in userData %}
                <tr>
                    <td class="border px-4 py-2">{{ user.getCoinSymbol }}</td>
                    <td class="border px-4 py-2 {% if user.getCoinAmount < 0 %}text-red-700{% else %}text-green-700{% endif %}">{{ user.getCoinAmount }}</td>
                    <td class="border px-4 py-2 {% if user.getMoneyBag < 0 %}text-red-700{% else %}text-green-700{% endif %}">{{ user.getmoneybag|number_format(2) }}</td>
                    <td class="border px-4 py-2"> {{ user.getCoinPrice }}</td>
                    <td class="border px-4 py-2">{{ user.getDate }}</td>
                    <td class="border px-4 py-2">{{ user.getDescription }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>




