<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>CoinTransfer</title>
</head>
<body class="bg-gray-100">
<!-- HTML -->
<div class="containers mx-auto px-7 relative" id="1">
    <ul class="absolute right-10 top-0 shadow-md">
        {% if session.name %}
            <p class="font-bold">Welcome {{ session.name }}</p> <br>
        {% endif %}

        {% if session.name %}
            <p class="font-bold">Total money: {{ session.totalMoney|number_format(2) }}$</p> <br>
        {% endif %}

        <li class="block px-3 py-2 mb-4 font-bold text-sm text-white bg-gray-800 rounded-lg">
            <a href="/" class="hover:bg-gray-700">Home</a>
        </li>
        {% if session.name %}
            <li class="block px-3 py-2 mb-4 font-bold text-sm text-white bg-gray-800 rounded-lg">
                <a href="/profile" class="hover:bg-gray-700">Profile</a>
            </li>
        {% endif %}

        {% if not session.name %}
            <li class="block px-3 py-2 mb-4 font-bold text-sm text-white bg-gray-800 rounded-lg">
                <a href="/login" class="hover:bg-gray-700">Log In</a>
            </li>
        {% endif %}

        {% if not session.name %}
            <li class="block px-3 py-2 mb-4 font-bold text-sm text-white bg-gray-800 rounded-lg">
                <a href="/registration" class="hover:bg-gray-700">Register</a>
            </li>
        {% endif %}

        {% if session.name %}
        <li class="block px-3 py-2 mb-4 font-bold text-sm text-white bg-gray-800 rounded-lg">
            <a href="/logout" class="hover:bg-gray-700">Log Out</a>
            {% endif %}
        </li>
    </ul>
</div>

<form action="/coinTransfer" method="post">
    <div class="max-w-sm rounded overflow-hidden shadow-lg m-auto mt-10">
        <div class="px-6 py-4">
            <div class=" font-bold text-xl mb-2">Transfer Form</div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="login">
                    Enter your login
                </label><br>
                <input
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        name="login"
                        type="text"
                        placeholder="Enter your login"
                        required
                />
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                    Enter your email
                </label><br>
                <input
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        name="email"
                        type="email"
                        placeholder="Enter your email"
                        required
                /><br>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                    Enter your password
                </label><br>
                <input
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        name="password"
                        type="password"
                        placeholder="Enter your password"
                        required
                /><br><br>
                <div class="mb-4">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="recipient">Recipient:</label><br>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                           type="text"
                           id="recipient"
                           name="recipient"
                           placeholder="Enter Recepient ID"
                           required
                    /><br>
                    <div class="mb-4"><br>
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="amount">Amount:</label><br>
                        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                               type="text"
                               id="amount"
                               name="amount"
                               placeholder="Enter amount"
                               required
                        ><br>
                        <div class="mb-4"><br>
                            <label class="block text-gray-700 text-sm font-bold mb-2"
                                   for="currency">Currency:</label><br>
                            <select class="block text-gray-700 text-sm font-bold mb-2" id="currency" name="currency">
                                {% for respond in start %}
                                    <option value="{{ respond.getCoinsSymbol }}">{{ respond.getCoinsSymbol }}: you
                                        have: {{ respond.getCoinsCount }} coin/s.
                                    </option>
                                {% endfor %}
                            </select><br>
                            <button class=" bg-blue-500 hover:bg-blue-700 rounded-lg shadow-lg py-2 px-3 text-white font-bold mt-3 focus:outline-none focus:shadow-outline"
                                    type="submit">Transfer
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-white px-8 py-6 rounded-lg shadow-lg text-center ">
        {{ session.message }}
    </div>
</form>


</body>
</html>